@model CSV_Read.Models.CSV_Headers

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CSV_Headers</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.index)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.index)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.organization)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.organization)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.website)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.website)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.country)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.country)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.founded)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.founded)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.industry)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.industry)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.numEmp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.numEmp)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
